{%extends "base.html"%}

{%block content%}

<a href="/games" class="btn btn-dark" style="width: 100px; margin: 10px 10px 10px 33px">Go back</a>
{% if not rev_exists %}

<a href="/add_review/{{game.title}}" class="btn btn-dark" style="width: 120px; margin: 10px">Add Review</a>

{% endif %}

<div style="margin: 0 20px" class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img src = "{{game.photo_url}}" class="card-img-top" alt="{{game.title}}">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card"  style="height: 100%">
        <div class="card-body">
            <h5 class="card-title">{{game.title}}</h5>
            <hr>
            <p class="card-text">{{game.desc}}</p>
        </div>
      </div>
    </div>
  </div>

  <h3 style="margin: 20px 60px 0 60px">Reviews:</h3>
  <div style="margin: 0 50px;" class="row row-cols-1 row-cols-md-3 g-4">
      {% for review in reviews %}
      <div class="col">
          <div class="card h-100">
              <div class="card-body">
                  <p class="card-text">Score: {{ review['score'] }}</p>
                  <p class="card-text">{{ review['content'] }}</p>
                  <p class="card-text">Author: {{ review['name'] }}</p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>


{%endblock%}


