{%extends "base.html"%}

{%block content%}
<div class="container" style="margin:50px auto; width:400px; ">
    <h2>Register</h2>
    <form action = "register" method = "POST">
      <div class="mb-3">
        <label for="InputName" class="form-label" >User name</label>
        <input class="form-control" id="InputName" name="name">
      </div>
      <div class="mb-3">
        <label for="InputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="InputPassword" name = "password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{%endblock%}