{%extends "base.html"%}

{%block content%}
<h1>Reviews:</h1>
<div style="margin: 0 50px;" class="row row-cols-1 row-cols-md-3 g-4">
    {% for review in reviews %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Game: {{ review['title'] }}</h5>
                <p class="card-text">Score: {{ review['score'] }}</p>
                <p class="card-text">{{ review['content'] }}</p>
                <p class="card-text">Author: {{ review['name'] }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock%}
