{%extends "base.html"%}

{%block content%}

<div class="d-flex flex-row align-content-around flex-wrap" >
    <div style="margin: 10px 20px">
        {% if name == user_name%}
        <h2>Your profile</h2>
        {% else %}
        <h2> {{user_name}} Profile</h2>
        {% endif %}
    </div>
    {% if name != user_name and name not in followed and name != ""%}
    <form action = "/follow" method = "POST" style="margin: auto 0">
      <button type="submit" class="btn btn-dark" value="{{user_name}}" name="follow">Follow</button>
    </form>
    {% endif %}
    {% if name != "" and name in followed%}
    <form action = "/unfollow" method = "POST" style="margin: auto 0">
      <button type="submit" class="btn btn-dark" value="{{user_name}}" name="unfollow">Unfollow</button>
    </form>
    {% endif %}
</div>
<div class="d-flex flex-row">
<div style="margin:40px; width:240px; margin-top:0; height: 500px;">
    <h4>{{user_name}} follows:</h4>
        <div class="scrollspy-example" style="max-height:200px; overflow-y: scroll; overflow-x:hidden; width:180px; margin: 20px; margin-left:5px;">
            {% for f in following %}
            <div class="container" style="margin:10px 10px 10px 0" >
                <a class="btn btn-dark" href="\users\{{f}}" style="width:130px;">{{ f }}</a>
            </div>
            {% endfor %}
        </div>

    <h4>{{user_name}} is followed by:</h4>
        <div class="scrollspy-example" style="max-height:200px; overflow-y: scroll; overflow-x:hidden; width:180px; margin: 20px; margin-left:5px;">
            {% for f in followed %}
            <div class="container" style="margin:10px 10px 10px 0">
                <a class="btn btn-dark" href="\users\{{f}}" style="width: 130px">{{ f }}</a>
            </div>
            {% endfor %}
        </div>
</div>

    <div >
        <h4>{{user_name}}'s reviews:</h4>
        <div class="d-flex flex-row align-items-start scrollspy-example flex-wrap align-items-stretch" style="max-height:500px; overflow-y: scroll;">
            {% for r in reviews %}
            <div class="card h-100" style="max-width: 700px; min-width: 250px; margin:10px;">
                  <div class="card-body" >
                      <p class="card-text"><b>{{r['game']}} review:</b></p>
                      <p class="card-text" style="margin-left: 10px"><b>Score: </b> {{r['score']}}</p>
                      <p class="card-text" style="margin-left: 10px"><b>Content:</b><br> {{r['content']}}</p>
                      {% if name == user_name%}
                      <span>
                      <a class="btn btn-dark" href="\update_review\{{user_name}}\{{r['game']}}" style="width:100px; margin-right: 10px;">Update</a>
                      <a class="btn btn-dark" href="\delete_review\{{user_name}}\{{r['game']}}" style="width:100px;">Delete</a>
                      </span>
                      {% endif %}
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{%endblock%}


