{%extends "base.html"%}

{%block content%}

<div class="d-flex flex-row align-content-around flex-wrap" >
    <div style="margin: 10px 20px">
        {% if name == user_name%}
        <h2>Your profile</h2>
        {% else %}
        <h2> {{user_name}} Profile</h2>
        {% endif %}
    </div>
    {% if name != user_name and name not in followed and name != ""%}
    <form action = "/follow" method = "POST" style="margin: auto 0">
      <button type="submit" class="btn btn-dark" value="{{user_name}}" name="follow">Follow</button>
    </form>
    {% endif %}
    {% if name != "" and name in followed%}
    <form action = "/unfollow" method = "POST" style="margin: auto 0">
      <button type="submit" class="btn btn-dark" value="{{user_name}}" name="unfollow">Unfollow</button>
    </form>
    {% endif %}
</div>
<div style="margin:30px; width:250px; ">
    <h4>{{user_name}} follows:</h4>
        <div class="scrollspy-example" style="max-height:300px; overflow-y: scroll; overflow-x:hidden; width:180px; margin: 20px">
            {% for f in following %}
            <div class="container" style="margin:10px" >
                <a class="btn btn-dark" href="\users\{{f}}" style="width:100px;">{{ f }}</a>
            </div>
            {% endfor %}
        </div>

    <h4>{{user_name}} is followed by:</h4>
        <div class="scrollspy-example" style="max-height:300px; overflow-y: scroll; overflow-x:hidden; width:180px; margin: 20px">
            {% for f in followed %}
            <div class="container" style="margin:10px">
                <a class="btn btn-dark" href="\users\{{f}}" style="width: 100px">{{ f }}</a>
            </div>
            {% endfor %}
        </div>
</div>

{%endblock%}


